$base-font-name: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 62.5%;
$base-font-color: #444;
$base-color-white: #fff;

$base-color-silver: #f4f4f4;
$base-color-module-title: #D6DBDD;
$base-color-module-title-ico: #555555;
$base-color-module-header: #2f2f2f;

$base-hidden: hidden;

$break-small:    320px;
$break-x-small:  800px;
$break-middle:   959px;
$break-large:   1200px;
$break-x-large: 1050px;

$base-opacity: opacity 0.2s ease;

$var-toobar-tabs: "tabs-toolbar";
$var-header: "#header";
$var-logo: "#logo";
$var-assets: "/assets"

